extends home
block wallpa
    .task
        .in
            .head_task#e404
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(4\).jpg`) Download
                        a(href=`/d/wallpaper\ \(4\)pc.jpg`) Download(Pc)
            .body_task ups, 404!
            .time
                .tag code
    .task
        .in
            .head_task#pc
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(3\).jpg`) Download
                        a(href=`/d/wallpaper\ \(3\)pc.jpg`) Download(Pc)
            .body_task work zone
            .time
                .tag code
                .tag desing
    .task
        .in
            .head_task#codeline
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(1\).jpg`) Download
                        a(href=`/d/wallpaper\ \(1\)pc.jpg`) Download(Pc)
            .body_task codelines
            .time
                .tag code