extends home
block wallpa
    .task
        .in
            .head_task#adobe
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(2\).jpg`) Download
                        a(href=`/d/wallpaper\ \(2\)pc.jpg`) Download(Pc)
            .body_task adobe triforce
            .time
                .tag desing
    .task
        .in
            .head_task#pc
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(3\).jpg`) Download
                        a(href=`/d/wallpaper\ \(3\)pc.jpg`) Download(Pc)
            .body_task work zone
            .time
                .tag code
                .tag desing
    .task
        .in
            .head_task#camello
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(5\).jpg`) Download
                        a(href=`/d/wallpaper\ \(5\)pc.jpg`) Download(Pc)
            .body_task the night
            .time
                .tag desing
    .task
        .in
            .head_task#colo
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(7\).jpg`) Download
                        a(href=`/d/wallpaper\ \(7\)pc.jpg`) Download(Pc)
            .body_task colorful
            .time
                .tag desing
    .task
        .in
            .head_task#cuadra
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(8\).jpg`) Download
                        a(href=`/d/wallpaper\ \(8\)pc.jpg`) Download(Pc)
            .body_task Cubes
            .time
                .tag desing