extends home
block wallpa
    .task
        .in
            .head_task#among
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(16\).jpg`) Download
                        a(href=`/d/wallpaper\ \(16\)pc.jpg`) Download(Pc)
            .body_task impostor
            .time
                .tag gaming
    .task
        .in
            .head_task#ani
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(12\).jpg`) Download
                        a(href=`/d/wallpaper\ \(12\)pc.jpg`) Download(Pc)
            .body_task anime girl
            .time
                .tag gaming
    .task
        .in
            .head_task#razer
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(10\).jpg`) Download
                        a(href=`/d/wallpaper\ \(10\)pc.jpg`) Download(Pc)
            .body_task razer
            .time
                .tag gaming
    .task
        .in
            .head_task#halo
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(11\).jpg`) Download
                        a(href=`/d/wallpaper\ \(11\)pc.jpg`) Download(Pc)
            .body_task halo
            .time
                .tag gaming