extends home
block wallpa
    .task
        .in
            .head_task#monta
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(6\).jpg`) Download
                        a(href=`/d/wallpaper\ \(6\)pc.jpg`) Download(Pc)
            .body_task nice view
            .time
                .tag pics
    .task
        .in
            .head_task#hoj
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(9\).jpg`) Download
                        a(href=`/d/wallpaper\ \(9\)pc.jpg`) Download(Pc)
            .body_task wet nigth
            .time
                .tag pics
    .task
        .in
            .head_task#street
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(13\).jpg`) Download
                        a(href=`/d/wallpaper\ \(13\)pc.jpg`) Download(Pc)
            .body_task weat streets
            .time
                .tag pics
    .task
        .in
            .head_task#ice
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(14\).jpg`) Download
                        a(href=`/d/wallpaper\ \(14\)pc.jpg`) Download(Pc)
            .body_task ice smoke
            .time
                .tag pics
    .task
        .in
            .head_task#ship
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(15\).jpg`) Download
                        a(href=`/d/wallpaper\ \(15\)pc.jpg`) Download(Pc)
            .body_task naval
            .time
                .tag pics