extends home
block wallpa
    .task
        .in
            .head_task#razer
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(10\).jpg`) Download
                        a(href=`/d/wallpaper\ \(10\)pc.jpg`) Download(Pc)
            .body_task razer
            .time
                .tag code
                .tag desin1
    .task
        .in
            .head_task#halo
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(11\).jpg`) Download
                        a(href=`/d/wallpaper\ \(11\)pc.jpg`) Download(Pc)
            .body_task halo
            .time
                .tag code
                .tag desin1
    .task
        .in
            .head_task#ani
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(12\).jpg`) Download
                        a(href=`/d/wallpaper\ \(12\)pc.jpg`) Download(Pc)
            .body_task anime girl
            .time
                .tag code
                .tag desin1
block active
    a(href="/") 1
    a(href="/2").active 2