extends home
block wallpa
    .task
        .in
            .head_task#hoj
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(9\).jpg`) Download
                        a(href=`/d/wallpaper\ \(9\)pc.jpg`) Download(Pc)
            .body_task wet nigth
            .time
                .tag art
                .tag desing
    .task
        .in
            .head_task#razer
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(10\).jpg`) Download
                        a(href=`/d/wallpaper\ \(10\)pc.jpg`) Download(Pc)
            .body_task razer
            .time
                .tag gaming
                .tag desing
    .task
        .in
            .head_task#halo
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(11\).jpg`) Download
                        a(href=`/d/wallpaper\ \(11\)pc.jpg`) Download(Pc)
            .body_task halo
            .time
                .tag gaming
                .tag art
    .task
        .in
            .head_task#ani
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(12\).jpg`) Download
                        a(href=`/d/wallpaper\ \(12\)pc.jpg`) Download(Pc)
            .body_task anime girl
            .time
                .tag desing
                .tag gaming
    .task
        .in
            .head_task#street
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(13\).jpg`) Download
                        a(href=`/d/wallpaper\ \(13\)pc.jpg`) Download(Pc)
            .body_task weat streets
            .time
                .tag art
                .tag desing
    .task
        .in
            .head_task#ice
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(14\).jpg`) Download
                        a(href=`/d/wallpaper\ \(14\)pc.jpg`) Download(Pc)
            .body_task ice smoke
            .time
                .tag art
                .tag desing
    .task
        .in
            .head_task#ship
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(15\).jpg`) Download
                        a(href=`/d/wallpaper\ \(15\)pc.jpg`) Download(Pc)
            .body_task naval
            .time
                .tag art
                .tag desing
    .task
        .in
            .head_task#among
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(16\).jpg`) Download
                        a(href=`/d/wallpaper\ \(16\)pc.jpg`) Download(Pc)
            .body_task impostor
            .time
                .tag gaming
                .tag desing
    .task
        .in
            .head_task#joker
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(17\).jpg`) Download
                        a(href=`/d/wallpaper\ \(17\)pc.jpg`) Download(Pc)
            .body_task society
            .time
                .tag art
                .tag gaming
block active
    a(href="/") 1
    a(href="/2").active 2