extends home
block wallpa
    .task
        .in
            h2.head_task#hoj
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(9\).jpg`) Download
                        a(href=`/d/wallpaper\ \(9\)pc.jpg`) Download(Pc)
            h3.body_task so what?
            .time
                .tag pics
    .task
        .in
            h2.head_task#cuadra
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(8\).jpg`) Download
                        a(href=`/d/wallpaper\ \(8\)pc.jpg`) Download(Pc)
            h3.body_task Cubes
            .time
                .tag desing
    .task
        .in
            h2.head_task#e404
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(4\).jpg`) Download
                        a(href=`/d/wallpaper\ \(4\)pc.jpg`) Download(Pc)
            h3.body_task ups, 404!
            .time
                .tag code
    .task
        .in
            h2.head_task#ani
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(12\).jpg`) Download
                        a(href=`/d/wallpaper\ \(12\)pc.jpg`) Download(Pc)
            h3.body_task anime girl
            .time
                .tag gaming
    .task
        .in
            h2.head_task#street
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(13\).jpg`) Download
                        a(href=`/d/wallpaper\ \(13\)pc.jpg`) Download(Pc)
            h3.body_task weat streets
            .time
                .tag pics
    .task
        .in
            h2.head_task#ice
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(14\).jpg`) Download
                        a(href=`/d/wallpaper\ \(14\)pc.jpg`) Download(Pc)
            h3.body_task ice smoke
            .time
                .tag pics
    .task
        .in
            h2.head_task#ship
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(15\).jpg`) Download
                        a(href=`/d/wallpaper\ \(15\)pc.jpg`) Download(Pc)
            h3.body_task naval
            .time
                .tag pics
    .task
        .in
            h2.head_task#among
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(16\).jpg`) Download
                        a(href=`/d/wallpaper\ \(16\)pc.jpg`) Download(Pc)
            h3.body_task impostor
            .time
                .tag gaming
    .task
        .in
            h2.head_task#joker
                .downloader
                    .buttons
                        a(href=`/d/wallpaper\ \(17\).jpg`) Download
                        a(href=`/d/wallpaper\ \(17\)pc.jpg`) Download(Pc)
            h3.body_task society
            .time
                .tag desing
block active
    a(href="/") 1
    a(href="/2").active 2